<div>
  <h3>Menu</h3>
  <ul>
    <li><a href="/usuarios">Usuários</a></li>
    <li><a href="/comentarios_e_resenhas_por_usuario">Comentários e resenhas por usuário</a></li>
    <li><a href="/topicos">Tópicos</a></li>
    <li><a href="/resenhas_populares">Resenhas populares</a></li>
    <li><a href="/ultimo_comentario">Último comentário</a></li>
    <li><a href="/livros_fora_estante">Livros fora da estante</a></li>
    <li><a href="/sugestoes_seguidores">Sugestões de seguidores</a></li>
    <li><a href="/ultima_mensagem_topico">Última mensagem do tópico</a></li>
    <li><a href="/usuarios_sem_interacao">Usuários sem interação nos últimos 7 dias</a></li>
    <li><a href="/resenhas_livro">Resenhas do livro</a></li>
    <li><a href="/resenhas_usuario">Resenhas do usuário</a></li>
  </ul>
</div>